.sing-up-area {
  width: 541px;
  position: relative;
  z-index: 1;
}

.landing{
  display: flex;
  height: auto;
  justify-content: center;
  width: auto;
  position: relative;

}
.title__text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 82px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.01em;
  text-align: left;
  color: black;
  user-select: none;
}

.title-container{
  position: absolute;
  z-index: 3;
  text-wrap: nowrap;
  top: 119px;
  left: 360px;
}

.title__text-highlight {
  font-family: 'Times New Roman', Times, serif;
  font-size: 82px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.01em;
  text-align: left;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  color: white;
}

.sing-up-area__description {
  text-align: left;
  line-height: 32px;
  width: inherit;
  color: #06040A;
  margin-top: 41px;
}

.sing-up-button {
  width: 187px;
  height: 66px;
  background: #06040A;
  color: #fff;
  border-radius: 40px;
  line-height: 18px;
  font-weight: 400;
}

.sing-up-button:hover {
  background: #48484c;
  transition: all 0.2s ease;
  cursor: pointer;
}

.sing-up-area__button{
  height: 66px;
  width: 187px;
  margin-top: 32px;
}



